nav{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
    color: #fff;
    padding: 0px 0px 5px 0px;
    transition: 400ms linear ;
}
li:hover{
    border-bottom:2px solid #fff;
}
