nav {
  width: 100%;
  height: 100px;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 80px;
}
li {
  list-style: none;
  transition: all 0.3s ease-in;
}
li:hover {
  transform: translateY(-5px) scale(1.1);
}
h1 {
  margin-left: 30px;
  transition: all 0.3s ease-in;
}
h1:hover{
  letter-spacing: 1px;
  transform: translateY(-5px) scale(1.1);

}
.btn {
  margin-right: 30px;
  display: flex;
  gap: 30px;
}
button {
  padding: 8px 12px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in;
}
button:hover {
  background-color: #000000;
  color: #ffff;
  border: 2px solid #fff;
  transform:scale(1.1);
}
